<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong>Title:</strong> <%= task.title %><br>
      <strong>Details:</strong> <%= task.details %><br>
      <strong>Status:</strong> <%= task.completed ? 'Completed' : 'Not Completed' %>
    </li>
  <% end %>
</ul>
